@media only screen and (max-width: 425px) {
    #mobileView {
      background-color: rgb(39, 36, 36);
      height:auto; 
    }
    #mobileButton{
        height:2.5rem;
        width:4rem;
    }
    #introduceContent{
        padding: 4rem 0rem;
        color:#EFEFF6;
        /* background-color:rgba(169, 169, 169,0.9); */
        font-family: 'Roboto', sans-serif;
    }
    #imgConotainer{
        width:10rem;
        height:10rem
    }
  }